@charset "UTF-8";

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

:root {
    --colorPrimary: #8E2424;
    --colorLogo: #3A404E;
    --colorText: #667085;
    --colorTitle: #101828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    display: grid;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
    min-height: 100vh;
}

/* HEADER NAV */

nav {
    grid-area: nav;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

.logo > p {
    font-size: 1rem;
    color: var(--colorLogo);
}

.content > ul {
    display: flex;
    gap: 50px;
    list-style: none;   
}

.content a {
    text-decoration: none;
    color: var(--colorText);
}

.HeaderButton {
    display: flex;
    gap: 10px;
}

.LoginButton, .RegisterButton {
    padding: 10px 18px;
    cursor: pointer;
}

.LoginButton {
    border: none;
    color: var(--colorText);
    background-color: #fff;
}

.RegisterButton {
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: var(--colorPrimary);
}
